<div>
    <% @user_id = @article.user_id %>
    <%= f.hidden_field :user_id, required: true %>
</div>
<div>
    <%= f.label :title, 'タイトル', class: 'required' %>
    <%= f.text_field :title, required: true %>
</div>
<div>
    <%= f.label :text, 'テキスト', class: 'required' %>
    <%= f.text_field :text, required: true %>
</div>