<%= form_with model: @post do |f| %>
  <div class="mb-3">
    <%= f.label :title, 'タイトル', class: 'required form-label', for: 'form-title' %>
    <%= f.text_field :title, required: true, class: 'form-control', id: 'form-title' %>
  </div>
  <div class="mb-3">
    <%= f.label :content, 'テキスト', class: 'required form-label', for: 'form-title' %>
    <%= f.text_area :content, required: true, class: 'form-control text-area-height', id: 'form-content' %>
  </div>
  <%= f.submit @submit, class: 'btn btn-primary' %>
<% end %>
