<% @title = "投稿記事一覧" %>
<h1><%= @title %></h1>
<%= link_to '記事を作成する', new_user_post_path(current_user.id) %>
<div>
    <% if @posts.nil? %>
    <table>
        <tr>
            <th>作成日</th>
            <th>タイトル</th>
        </tr>
        <% @posts.each do |a| %>
            <tr>
                <td><%= a.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= link_to a.title, user_post_path(user_id: a.user_id, id: a) %></td>
                <% if current_user %>
                <td class="actions">
                <%= link_to '編集', edit_user_post_path(user_id: a.user_id, id: a) %>
                <%= link_to '削除', user_post_path(user_id: a.user_id, id: a), method: :delete, data: { confirm: '記事を削除しますか？' } %>
                <% end %>
                </td>
            </tr>
        <% end %>
    </table>
    <% else %>
    <tr>
        <td>記事がありません</td>
    </tr>
    <% end %>
</div>
<%= link_to '退会する', :user_registration, method: :delete, data: { confirm: '本当に退会されますか？（関連するデータは削除されます。）' }  %>