<% @title = "投稿記事一覧" %>
<h1><%= @title %></h1>
<%= link_to '記事を作成する', :new_post %>

<%= content_for :lists do %>
    <% @posts.each do |post| %>
        <tr>
            <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= link_to '編集', edit_post_path(post) %></td>
            <td><%= link_to '削除', post_path(post), method: :delete, data: { confirm: '記事を削除しますか？' } %></td>
        </tr>
    <% end %>
<% end %>
<%= render 'shared/post_lists', posts: @posts %>
<%= link_to '退会する', :user_registration, method: :delete, data: { confirm: '本当に退会されますか？（関連するデータは削除されます。）' }  %>